.modal-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    width: 100%;
    height: 100vh;

    background-color: rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transition: 0.5s;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    max-width: 100%;
    height: 90vh;
    padding: 10px;

    border-radius: 12px;

    background-color: #fff;
    box-shadow: 1px 0 50px 0 rgba(0, 0, 0, 0.1);
}

.modal .modal-content {
    width: 100%;
    overflow-y: scroll;
    height: 88%;
}

.modal .modal-content .modal-content-img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.modal .modal-content img {
    width: 100%;
}

.modal .modal-content .motocycle-model {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: #F0F0F0;
    background-color: #292929;
}

.modal h1 {
    color: #494949;
    padding: 10px;
    float: left;
}

.modal button {
    font-size: 24px;
    padding: 10px 15px;
    color: #595959;

    float: right;
}

.modal button:hover {
    color: #000;
}

.modal .table {
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

.modal .table .table-line {
    display: flex;
    padding: 10px;
    width: 100%;
}

.modal .table .striped {
    background-color: #F0F0F0;
}

.modal .table .table-line span {
    width: 50%;
    color: #595959;
}

.modal .table .table-line .info {
    font-weight: 600;
}

.overflow-hidden {
    overflow: hidden;
}

/* Animation */

.translate-25 {
    animation: translate-25 0.5s;
}

.fade-out {
    animation: fade-out 0.5s;
}

@keyframes translate-25 {
    from {
        transform: translate(-50%, -25%);
    }

    to {
        transform: translate(-50%, -50%);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media screen and (width < 768px) {
    .modal {
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        border-radius: 0;
    }

    .modal .modal-content {
        height: auto;
        max-height: none;
    }
}