nav {
    display: inline-flex;
    align-items: center;

    width: 100%;
    height: 65px;
    background-color: #292929;
}

nav .container {
    display: flex;
    align-items: center;

    justify-content: space-between;
}

nav .logo span {
    font-family: fantasy;
    font-size: 20px;
}

nav .logo i {
    color: #ff0000;
    font-size: 8px;
}

nav .menu-itens {
    color: #fff;
    font-size: 30px;
}

nav .menu-itens .menu-button {
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    line-height: normal;

    cursor: pointer;
}