.section-search-result {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    border-top: 1px solid #F0F0F0;
}

.result-card {
    display: block;
    width: 21%;
    max-width: 25%;
    min-width: 210px;
    height: 95%;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    background-color: #fff;
    border-radius: 12px;
    box-shadow: 1px 0 50px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.result-card:hover {
    box-shadow: 1px 0 50px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.result-card .moto-img {
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
    background-color: #ededed;
}

.moto-img img {
    width: 100%;
    padding: 10px 20px;
    border-start-start-radius: 12px;
    border-start-end-radius: 12px;
    transition: transform 0.3s ease-in-out;
}

.moto-img img:hover {
    transform: scale(1.1);
}

.result-card .data {
    padding: 10px;
    background-color: #fff;
    color: #595959;
}

.result-card .name,
.brand {
    font-weight: 600;
}

.result-card .info {
    font-size: 14px;
    padding-top: 10px;
}

.result-card .data .resume {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 5%;
    margin-bottom: 5%;
}

.result-card .data .resume div {
    width: 49%;
    font-size: 14px;
    background-color: #F0F0F0;
    padding: 6px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}
@media screen and (width > 1440px) {
    .section-search-result {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}

@media screen and (width < 1200px) {
    .section-search-result {
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}

@media screen and (width < 900px) {
    .section-search-result {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (width < 768px) {
    .section-search-result {
        grid-template-columns: 100%;
    }

    .result-card {
        width: 80%;
        max-width: 80%;
        height: auto;
        max-height: 530px;
    }

    .result-card .moto-img {
        width: 100%;
        height: auto;
    }
}