.section-search-motocycle {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.section-search-motocycle .search-motocycle {
    display: grid;
    grid-template-columns: 40% 27% 27% 6%;
    place-items: end;

    padding-top: 15px;
}

.section-search-motocycle .search-motocycle .div-search-motocycle-input {
    width: 100%;
}

.section-search-motocycle .search-motocycle .div-search-motocycle-input #search-motocycle-input {
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 13px;
    font-weight: 600;

    border-radius: 6px;
    border: none;
    background-color: #F0F0F0;
    color: #595959;
    
}

.section-search-motocycle .search-motocycle .div-search-motocycle-input #search-motocycle-input:focus {
    outline: 1px solid #595959;
}

.section-search-motocycle .search-motocycle .select {
    width: 100%;
    margin-left: 5px;
    padding: 0 5px;
}

.section-search-motocycle #search-motocycle-button {
    /* width: 40px; */
    width: 100%;
    max-width: 40px;
    height: 40px;

    border-radius: 6px;
    border: none;
    background-color: #0066FF;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.search-motocycle #search-motocycle-button:hover {
    background-color: #0044FF;
    transition: 0.3s;
}

@media screen and (width < 500px) {
    /* .motoinfo-style {
        width: 100vh;
    } */
}