.section-search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #F0F0F0;

    margin-bottom: 20px;

    /* height: 900px; */
}

.result-card {
    width: 240px;
    height: 300px;
    max-height: 300px;

    margin-top: 20px;

    background-color: #fff;
    border-radius: 12px;
    box-shadow: 1px 0 50px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    overflow: hidden;
    cursor: pointer;
}

.result-card:hover {
    box-shadow: 1px 0 50px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.result-card .moto-img {
    width: 100%;
    height: 160px;
    overflow: hidden;
    position: relative;
    background-color: #F0F0F0;
}

.moto-img img {
    width: 100%;
    padding: 10px 20px;
    border-start-start-radius: 12px;
    border-start-end-radius: 12px;
    transition: transform 0.3s ease-in-out;
}

.moto-img img:hover {
    transform: scale(1.1);
}

.result-card .data {
    padding: 10px;
    background-color: #fff;
    color: #595959;
}

.result-card .name, .brand {
    font-weight: 600;
}

.result-card .info {
    font-size: 14px;
    padding-top: 10px;

    height: 7.6ch;
}

.result-card .data .resume {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 5%;
    margin-bottom: 5%;
}

.result-card .data .resume div {
    background-color: #F0F0F0;
    padding: 6px;
    border-radius: 6px;
}

@media screen and (width < 768px) {
    .section-search-result {
        display: block;
    }

    .result-card {
        margin-left: auto;
        margin-right: auto;
    }
}